@page
@model Project.Pages.DashBoard.customersModel
@{
}
@{
    Layout = "DashBoardLayout";
}

<style>
    #link5 {
        background: linear-gradient(to right, #fdd27c, #ff710e);
        filter: brightness(110%);
    }
</style>


<p class="main-title">
                العملاء 
            </p>

            <input class="my-input main-search-input" placeholder="بحث بالاسم أو الإيميال">

            <div class="transparent-holder">

                <div class="row">
                    <div class="col-xs-6">
                        <div class="customer-item">
                            <div class="avatar bg-cover">
                                <img src="~/img/login-logo.png">
                            </div>
                            <div class="customer-content">
                                <div class="edit-item-holder">
                                    <a class="item-edit" data-toggle="modal" data-target="#customer-edit"><i class="fa fa-fw fa fa-pencil"></i></a>
                                    <a class="item-delete" data-toggle="modal" data-target="#customer-delete"><i class="fa fa-fw fa-trash-o"></i></a>
                                </div>
                                <p class="username">أسم الشخص</p>
                                <p class="mail">eslam@gmail.com</p>
                                <p class="phone">01112131415</p>
                            </div>
                            <div class="customer-footer">
                                <p class="block-user">مستخدم محظور</p>
<!--                                <p class="active-user">مستخدم نشط</p>-->
                            </div>
                        </div>
                    </div>

                    <div class="col-xs-6">
                        <div class="customer-item">
                            <div class="avatar bg-cover">
                                <img src="~/img/login-logo.png">
                            </div>
                            <div class="customer-content">
                                <div class="edit-item-holder">
                                    <a class="item-edit" data-toggle="modal" data-target="#customer-edit"><i class="fa fa-fw fa fa-pencil"></i></a>
                                    <a class="item-delete" data-toggle="modal" data-target="#customer-delete"><i class="fa fa-fw fa-trash-o"></i></a>
                                </div>
                                <p class="username">أسم الشخص</p>
                                <p class="mail">eslam@gmail.com</p>
                                <p class="phone">01112131415</p>
                            </div>
                            <div class="customer-footer">
<!--                                <p class="block-user">مستخدم محظور</p>-->
                                <p class="active-user">مستخدم نشط</p>
                            </div>
                        </div>
                    </div>

                                        <div class="col-xs-6">
                        <div class="customer-item">
                            <div class="avatar bg-cover">
                                <img src="~/img/login-logo.png">
                            </div>
                            <div class="customer-content">
                                <div class="edit-item-holder">
                                    <a class="item-edit" data-toggle="modal" data-target="#customer-edit"><i class="fa fa-fw fa fa-pencil"></i></a>
                                    <a class="item-delete" data-toggle="modal" data-target="#customer-delete"><i class="fa fa-fw fa-trash-o"></i></a>
                                </div>
                                <p class="username">أسم الشخص</p>
                                <p class="mail">eslam@gmail.com</p>
                                <p class="phone">01112131415</p>
                            </div>
                            <div class="customer-footer">
                                <p class="block-user">مستخدم محظور</p>
<!--                                <p class="active-user">مستخدم نشط</p>-->
                            </div>
                        </div>
                    </div>

                    <div class="col-xs-6">
                        <div class="customer-item">
                            <div class="avatar bg-cover">
                                <img src="~/img/login-logo.png">
                            </div>
                            <div class="customer-content">
                                <div class="edit-item-holder">
                                    <a class="item-edit" data-toggle="modal" data-target="#customer-edit"><i class="fa fa-fw fa fa-pencil"></i></a>
                                    <a class="item-delete" data-toggle="modal" data-target="#customer-delete"><i class="fa fa-fw fa-trash-o"></i></a>
                                </div>
                                <p class="username">أسم الشخص</p>
                                <p class="mail">eslam@gmail.com</p>
                                <p class="phone">01112131415</p>
                            </div>
                            <div class="customer-footer">
<!--                                <p class="block-user">مستخدم محظور</p>-->
                                <p class="active-user">مستخدم نشط</p>
                            </div>
                        </div>
                    </div>

                                        <div class="col-xs-6">
                        <div class="customer-item">
                            <div class="avatar bg-cover">
                                <img src="~/img/login-logo.png">
                            </div>
                            <div class="customer-content">
                                <div class="edit-item-holder">
                                    <a class="item-edit" data-toggle="modal" data-target="#customer-edit"><i class="fa fa-fw fa fa-pencil"></i></a>
                                    <a class="item-delete" data-toggle="modal" data-target="#customer-delete"><i class="fa fa-fw fa-trash-o"></i></a>
                                </div>
                                <p class="username">أسم الشخص</p>
                                <p class="mail">eslam@gmail.com</p>
                                <p class="phone">01112131415</p>
                            </div>
                            <div class="customer-footer">
                                <p class="block-user">مستخدم محظور</p>
<!--                                <p class="active-user">مستخدم نشط</p>-->
                            </div>
                        </div>
                    </div>

                    <div class="col-xs-6">
                        <div class="customer-item">
                            <div class="avatar bg-cover">
                                <img src="~/img/login-logo.png">
                            </div>
                            <div class="customer-content">
                                <div class="edit-item-holder">
                                    <a class="item-edit" data-toggle="modal" data-target="#customer-edit"><i class="fa fa-fw fa fa-pencil"></i></a>
                                    <a class="item-delete" data-toggle="modal" data-target="#customer-delete"><i class="fa fa-fw fa-trash-o"></i></a>
                                </div>
                                <p class="username">أسم الشخص</p>
                                <p class="mail">eslam@gmail.com</p>
                                <p class="phone">01112131415</p>
                            </div>
                            <div class="customer-footer">
<!--                                <p class="block-user">مستخدم محظور</p>-->
                                <p class="active-user">مستخدم نشط</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="btn-area">
                    <div class="pagination-part">
                        <nav aria-label="Page navigation">
                            <ul class="pagination">
                                <li>
                                    <a href="#" aria-label="Previous">
                                        <span aria-hidden="true">«</span>
                                    </a>
                                </li>
                                <li class="active"><a href="#">1</a></li>
                                <li><a href="#">2</a></li>
                                <li><a href="#">3</a></li>
                                <li><a href="#">4</a></li>
                                <li><a href="#">5</a></li>
                                <li>
                                    <a href="#" aria-label="Next">
                                        <span aria-hidden="true">»</span>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>




    <!--customer-edit-->
    <div class="modal fade my-model" id="customer-edit" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <button type="button" class="close-model" data-dismiss="modal" aria-label="Close">إغلاق</button>
                <div class="clearfix"></div>
                <h4 class="modal-title" id="myModalLabel">حالة المستخدم</h4>
                <div class="modal-body">
                    <form>
                        <div class="row">
                        <div class="col-xs-4">
                            <label class="my-label">كريم السيد </label>
                        </div>
                        <div class="col-xs-8">
                            <select class="my-select">
                                <option>مستخدم نشط</option>
                                <option>مستخدم محظور</option>
                            </select>
                        </div>
                    </div>
                    <div class="btn-area">
                        <button class="btn-blue submit">حفظ </button>
                    </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!--customer-delete-->
    <div class="modal fade my-model" id="customer-delete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <button type="button" class="close-model" data-dismiss="modal" aria-label="Close">إغلاق</button>
                <div class="clearfix"></div>
                <h4 class="modal-title" id="myModalLabel">تأكيد مسح المستخدم</h4>
                <div class="modal-body">
                    <div class="customer-item">
                            <div class="avatar bg-cover">
                                <img src="~/img/login-logo.png">
                            </div>
                            <div class="customer-content">
                                <p class="username">أسم الشخص</p>
                                <p class="mail">eslam@gmail.com</p>
                                <p class="phone">01112131415</p>
                            </div>
                        </div>
                    <div class="btn-area">
                        <button class="btn-gray submit" data-dismiss="modal" aria-label="Close">إلغاء </button>
                        <button class="btn-red submit">حذف </button>
                    </div>
                </div>
            </div>