@page
@model CIE_206.Pages.AnyUserView.AboutPageModel
@{
    ViewData["Title"] = "About";
}


<div class="about_section1">
    <div class="about_section2 layout_padding">
        <div class="container aboutsquare">
            <div class="row">
                <div class="col-sm-8">
                    <h2 class="about_taital">عن عائلتي</h2>
                    <p class="about_text">
                        تأسست منظمتنا الخيرية على يد مجموعة من الناس الذين يؤمنون بالقيم الإنسانية الأساسية، ونحن نسعى جاهدين لتحقيق أهدافنا من خلال التعاون والعمل الجماعي. نحن نعتمد على تبرعات الناس ودعمهم لنا لنتمكن من مواصلة عملنا وتقديم المساعدة للمحتاجين. يمكن لأي شخص المساهمة في مسيرتنا الخيرية من خلال التبرع بالمال أو الوقت أو الموارد الأخرى. نحن نرحب بجميع أنواع المساعدة والتبرعات لتحقيق هدفنا المشترك في تحسين حياة الناس وجعل هذا العالم مكانًا أفضل للجميع  نحن نؤمن بأن العمل الخيري هو واجبنا كأفراد في هذا العالم، ونعمل بكل جهدنا لتحسين حياة الناس وإحداث فرق إيجابي في المجتمعات التي نعمل فيه.
                    </p>
                </div>
                <div class="col-sm-4">
                    <div class="about_img"><img src="~/template2/images/about-img.png"></div>
                </div>
            </div>
        </div>
    </div>
</div>
