@page
@model CIE_206.Pages.AnyUserView.ContactPageModel
@{
    ViewData["Title"] = "Contact";
}

<div class="contact_section1">
    <div class="contact_section2 layout_padding">
        <div class="container">
            <div class="contact_section_2">
                <div class="row flex-row-reverse">
                    <div class="col-md-6">
                        <div class="mail_section_1" dir="rtl">
                            <h1 class="contact_taital">تواصل معنا</h1>
                            <input type="text" class="mail_text_1" placeholder="الاسم" name="text">
                            <input type="text" class="mail_text_1" placeholder="البريد الالكتروني" name="text">
                            <input type="text" class="mail_text_1" placeholder="رقم الهاتف" name="text">
                            <textarea class="massage-bt" placeholder="اكتب رسالتك" rows="5" id="comment" name="Massage"></textarea>
                            <div class="send_bt"><a class="send_bbt" href="#">ارسل</a></div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="map_main">
                            <div class="map-responsive">
                                <iframe src="https://www.google.com/maps/embed/v1/place?key=AIzaSyA0s1a7phLN0iaD6-UE7m4qP-z21pH0eSc&amp;q=Eiffel+Tower+Paris+France" width="600" height="360" frameborder="0" style="border:0; width: 100%;" allowfullscreen=""></iframe>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>